.About {
  padding: 9rem 0 0;
  overflow-x: hidden;

  @media only screen and (max-width: 1000px) {
    font-size: 65%;
  }

  @media only screen and (max-width: 420px) {
    font-size: 70%;
    padding: 4rem 0 0;
  }
  @media only screen and (min-width: 1800px) {
    font-size: 150%;
  }

  .sec1 {
    max-height: 90vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 8rem;
    @media only screen and (max-width: 1000px) {
      padding: 1rem 2rem;
    }
    @media only screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      padding: 1rem 1rem;
      overflow: hidden;
      max-height: 100vh;
    }
    .first-sec {
      padding-right: 2rem;
      @media only screen and (max-width: 420px) {
        padding-right: 0;
      }
      span {
        background-color: #49c0b6;
        border-radius: 5px;
        padding: 0.2rem;
        font-weight: 500;
        font-size: 1rem;
        color: white;
      }
      h4 {
        font-size: 1.3rem;
        color: #3f3d56;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        @media only screen and (max-width: 420px) {
          margin-bottom: 1rem;
        }
      }
      p {
        color: gray;
        line-height: 1.7rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: 420px) {
          font-size: 0.75rem;
        }
      }
      h6 {
        font-size: 0.95rem;
      }
    }

    .img-sec {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  //second section with the mobile

  .sec2 {
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 3rem 11rem;

    @media only screen and (max-width: 1000px) {
      padding: 3rem 0.3rem;
      font-size: 60%;
    }
    @media only screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      padding: 1rem 3rem;
    }

    .col1 {
      padding: 3rem 0;
      @media only screen and (max-width: 420px) {
        padding: 2rem 1rem;
      }
      .show {
        display: flex;
        margin-bottom: 3.5rem;
        @media only screen and (max-width: 420px) {
          margin-bottom: 2rem;
        }

        .icon {
          margin-right: 1.5rem;
          font-size: 2rem;
          color: #49c0b6;
          @media only screen and (max-width: 1000px) {
            font-size: 1.4rem;
          }
          @media only screen and (max-width: 420px) {
            font-size: 1.5rem;
          }
        }
        a {
          text-decoration: none;
          font-size: 1.3rem;
          font-weight: 500;
          color: black;
          @media only screen and (max-width: 1000px) {
            font-size: 1rem;
          }
          @media only screen and (max-width: 420px) {
            font-size: 1.2rem;
          }

          &:hover {
            color: #49c0b6;
          }
        }
        p {
          margin-top: 0.5rem;
          color: gray;
          @media only screen and (max-width: 420px) {
            font-size: 0.67rem;
          }
        }
      }
    }

    .image-div {
      display: flex;
      justify-content: center;
    }

    img {
      height: 400px;
      width: auto;
      @media only screen and (max-width: 1000px) {
        height: 450px;
      }
    }
  }

  //Styles for Team section

  .sec3 {
    text-align: center;
    padding: 3rem 10rem;
    @media only screen and (max-width: 1000px) {
      padding: 3rem 1rem;
    }
    @media only screen and (max-width: 420px) {
      padding: 2rem 1rem;
    }

    h1 {
      color: #3f3d56;
      margin-bottom: 1rem;
      @media only screen and (max-width: 420px) {
        font-size: 1.4rem;
      }
    }
    hr {
      width: 10%;
      margin: auto;
      height: 1.5px;
      border: none;
      background-color: #3f3d56;
      margin-bottom: 1rem;
    }

    p {
      padding: 0 7rem;
      color: gray;
      margin-bottom: 2rem;
      @media only screen and (max-width: 420px) {
        font-size: 0.74rem;
        padding: 0 2rem;
      }
    }

    .team {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media only screen and (max-width: 420px) {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
      }

      img {
        background-image: linear-gradient(to right, #114f8e 0%, #49c0b6 100%);
        border-radius: 50px;
        @media only screen and (max-width: 1000px) {
          height: 250px;
        }
        @media only screen and (max-width: 420px) {
          height: 300px;
        }
      }
      h4 {
        font-size: 1.3rem;
        color: #3f3d56;
        margin-bottom: 0.5rem;
      }
      h5 {
        font-size: 1.07rem;
        color: gray;
        font-weight: 400;
      }
      h6 {
        font-size: 1rem;
        margin-top: 0.5rem;
        a {
          color: #49c0b6;
          margin-right: 1rem;
          text-decoration: none;

          &:hover {
            color: #114f8e;
          }
        }
      }
    }
  }
}
