.contact {
  padding: 3rem 0 0;
  overflow-x: hidden;

  @media only screen and (max-width: 1000px) {
    font-size: 65%;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 150%;
  }

  .section1 {
    border-bottom: 1px solid #3f3d56;

    .title {
      text-align: center;
      padding: 3rem 10rem;
      @media only screen and (max-width: 1000px) {
        padding: 3rem 2rem;
      }
      @media only screen and (max-width: 830px) {
        padding: 2rem 1rem;
      }
      h1 {
        color: #3f3d56;
        margin-left: auto;
        margin-bottom: 1rem;
        @media only screen and (max-width: 830px) {
          font-size: 1.2rem;
        }
      }
      hr {
        width: 10%;
        margin: auto;
        height: 1.5px;
        border: none;
        background-color: #3f3d56;
        margin-bottom: 1rem;
      }

      p {
        padding: 0 7rem;
        color: gray;
        @media only screen and (max-width: 830px) {
          padding: 0 1.4rem;
          font-size: 0.75rem;
        }
      }
    }
    .row {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1rem 8rem;
      @media only screen and (max-width: 1000px) {
        padding: 1rem 2rem;
      }
      @media only screen and (max-width: 830px) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 0 1rem;
      }
      .first-sec {
        padding-right: 2rem;
        @media only screen and (max-width: 830px) {
          padding-right: 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        h4 {
          font-size: 1.3rem;
          color: #3f3d56;
          margin-bottom: 1rem;
          @media only screen and (max-width: 830px) {
            font-size: 0.95rem;
          }
        }
        p {
          color: gray;
          line-height: 1.7rem;
          margin-bottom: 1rem;
          @media only screen and (max-width: 830px) {
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
          }
        }
        .show {
          display: flex;
          margin-top: 2rem;
          padding-left: 1rem;
          @media only screen and (max-width: 830px) {
            margin-bottom: 1rem;
            margin-top: 0.4rem;
          }

          .icon {
            color: #49c0b6;
            margin-right: 1rem;
            @media only screen and (max-width: 830px) {
              font-size: 1rem;
              margin-right: 0.7rem;
            }
          }
          span {
            font-weight: 600;
            color: #3f3d56;
          }

          p {
            font-size: 1.1rem;
            line-height: 1rem;
            margin-bottom: 0;
            @media only screen and (max-width: 1000px) {
              font-size: 90%;
            }
            @media only screen and (max-width: 830px) {
              font-size: 0.6rem;
            }
          }
        }

        .social {
          margin-top: 2.3rem;
          @media only screen and (max-width: 830px) {
            margin-top: 0.5rem;
            grid-column: 1 / span 2;
          }

          span {
            font-weight: 600;
            color: #3f3d56;
            font-size: 1.3rem;
            margin-right: 2rem;
            @media only screen and (max-width: 830px) {
              font-size: 1.1rem;
            }
          }

          .icon {
            color: #49c0b6;
            margin-right: 2rem;
            font-size: 1.5rem;
            @media only screen and (max-width: 830px) {
              font-size: 1.2rem;
            }
          }
        }
      }

      .img-sec {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  // Section2/ form style

  .section2 {
    padding: 3rem 8rem;
    @media only screen and (max-width: 1000px) {
      padding: 3rem 2rem;
    }

    @media only screen and (max-width: 830px) {
      padding: 2rem 1rem;
    }

    .title {
      text-align: center;
      padding: 3rem 10rem;
      @media only screen and (max-width: 830px) {
        padding: 1rem;
      }
      h1 {
        color: #3f3d56;
        margin-left: auto;
        margin-bottom: 1rem;
        @media only screen and (max-width: 830px) {
          font-size: 1.1rem;
        }
      }
      hr {
        width: 10%;
        margin: auto;
        height: 1.5px;
        border: none;
        background-color: #3f3d56;
        margin-bottom: 1rem;
      }
    }

    form {
      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: 830px) {
          grid-template-columns: 1fr;
        }

        input {
          height: 1.8rem;
          color: rgb(112, 111, 111);
          font-size: 1rem;
          padding: 1rem;
          border: none;
          border-radius: 8px;
          background-color: #eeeeee;
          outline: none;
          @media only screen and (max-width: 830px) {
            width: 91%;
          }

          &:focus {
            border: 2px solid #49c0b6;
          }
        }
      }
      .text {
        width: 97%;
        height: 8rem;
        color: rgb(112, 111, 111);
        font-size: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 8px;
        background-color: #eeeeee;
        outline: none;
        margin-bottom: 1rem;
        @media only screen and (max-width: 830px) {
          width: 91%;
        }

        &:focus {
          border: 2px solid #49c0b6;
        }
      }

      .btn {
        padding: 0.6rem 1.2rem;
        font-weight: 400;
        background-color: #49c0b6;
        color: white;
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        transition: background-color 0.6s;
        @media only screen and (max-width: 830px) {
          font-size: 1rem;
        }

        &:hover {
          background-color: #1b5ea5;
        }
      }
    }
  }
}
